[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.15"
django-crispy-forms = "*"
whitenoise = "*"
django-recaptcha = "*"
django-environ = "*"

[dev-packages]

[requires]
python_version = "3.7.8"
